mods/
crash-reports/
shaderpacks/
hs_err_pid21212.log
saves/
resourcepacks/
logs/
usercache.json
usernamecache.json
screenshots/
shrines-saves/
downloads/
local/
minecolonies/
trees/
woot/
structurize/
schematics/
dumps/