mods/
crash-reports/
shaderpacks/
hs_err_pid21212.log
saves/
resourcepacks/
logs/
usercache.json
usernamecache.json
screenshots/
shrines-saves/
downloads/
local/
minecolonies/
trees/
woot/
structurize/
schematics/
dumps/
ambience_music/
ambience_music.zip

openloader/data/immersive-soundscapes-datapack-v2.4.zip

openloader/data/512_height.zip

openloader/resources/immersive-soundscapes-resources-v2.4.zip
